@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body .navegador {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #042F40;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
body .navegador #check {
  display: none;
}
body .navegador label {
  display: none;
}
body .navegador label i {
  color: white;
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
}
body .navegador label i:hover {
  border: solid 2px white;
  border-radius: 5px;
}
body .navegador .logo img {
  height: 50px;
}
body .navegador .navbar ul {
  list-style: none;
  display: flex;
}
body .navegador .navbar ul li a {
  padding: 0 30px;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s;
}
body .navegador .navbar ul li a:hover {
  padding: 15px 30px;
  background-color: #155259;
}

@media (max-width: 630px) {
  .navegador {
    padding-left: 5px !important;
  }
  .navegador .checkbtn {
    display: block;
  }
  .navegador #check:checked ~ .navbar {
    display: block;
  }
  .navegador .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #042F40;
    display: none;
  }
  .navegador .navbar ul {
    flex-direction: column;
  }
  .navegador .navbar ul li {
    width: 100%;
  }
  .navegador .navbar ul li a {
    display: block;
    padding: 10px !important;
  }
}
.headerIndex {
  max-width: 100vw;
  height: 100vh;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerIndex ::before {
  content: "";
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  background-image: linear-gradient(#155259, #BDE3F2);
  opacity: 0.3;
  z-index: -1;
}
.headerIndex .titulo {
  width: 100vw;
  text-align: center;
  color: black;
  z-index: 1;
}
.headerIndex .titulo h1 {
  font-size: 70px;
  font-style: italic;
}
.headerIndex .titulo h2 {
  font-size: 30px;
  font-weight: normal;
}

@media (max-width: 500px) {
  header .titulo h1 {
    font-size: 60px;
  }
  header .titulo h2 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  header .titulo h1 {
    font-size: 50px;
  }
  header .titulo h2 {
    font-size: 15px;
  }
}
main {
  background-color: white;
  max-width: 100%;
  min-height: 600px;
  margin: 10px;
}
main .contenedor {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main .contenedor .imagenes {
  width: 700px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
main .contenedor .imagenes img {
  width: 400px;
  height: 250px;
}
main .contenedor .imagenes .img1 {
  position: absolute;
  top: 100px;
  left: 300px;
}
main .contenedor .imagenes .img3 {
  position: absolute;
  top: 250px;
  right: 180px;
}
main .contenedor .texto {
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}
main .contenedor .texto .cursos {
  margin-top: 30px;
}
main .contenedor .texto .cursos ul {
  list-style: none;
}
main .contenedor .texto h3 {
  margin-bottom: 10px;
}
main .contenedor .texto p {
  text-align: justify;
}

@media (max-width: 1200px) {
  main {
    height: 100%;
    margin-bottom: 10px;
  }
  main .contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .contenedor .imagenes {
    margin-top: 40px;
  }
}
@media (max-width: 710px) {
  main .contenedor .imagenes {
    max-width: 450px;
    min-height: 300px;
    margin: auto;
  }
  main .contenedor .imagenes img {
    width: 250px;
    height: 150px;
  }
  main .contenedor .imagenes .img1 {
    top: 50px;
    left: 200px;
  }
  main .contenedor .imagenes .img3 {
    top: 150px;
  }
  main .contenedor .texto {
    margin-bottom: 50px;
  }
}
@media (max-width: 550px) {
  main .contenedor .imagenes {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  main .contenedor .imagenes img {
    width: 100%;
    height: 200px;
  }
  main .contenedor .imagenes .img1 {
    position: static;
  }
  main .contenedor .imagenes .img2 {
    position: static;
  }
  main .contenedor .imagenes .img3 {
    position: static;
  }
}
@media (max-width: 420px) {
  main .contenedor .texto {
    margin-bottom: 80px;
  }
}
@media (max-width: 354px) {
  main .contenedor .texto {
    margin-bottom: 100px;
  }
}
@media (max-width: 325px) {
  main .contenedor .texto {
    margin-bottom: 130px;
  }
}
.servicios {
  background-color: #BDE3F2;
}
.servicios h3 {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  letter-spacing: 5px;
}
.servicios .tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding-bottom: 20px;
}
.servicios .tarjetas .tarjeta {
  width: 300px;
  height: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #BDE3F2;
  text-align: justify;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25seg;
}
.servicios .tarjetas .tarjeta:hover {
  background-color: #97c3d4;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.servicios .tarjetas .tarjeta img {
  width: 100%;
}
.servicios .tarjetas .tarjeta h4 {
  text-align: center;
  padding: 5px;
}
.servicios .tarjetas .tarjeta .btn {
  display: block;
  text-decoration: none;
  margin-top: 50px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #042F40;
  border-radius: 5px;
}
.servicios .tarjetas .tarjeta .btn:hover {
  font-weight: bold;
}

section h3 {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  letter-spacing: 5px;
}

.headerContacto {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContacto ::before {
  content: "";
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  background-image: linear-gradient(#155259, #BDE3F2);
  opacity: 0.3;
  z-index: -1;
}
.headerContacto .texto {
  z-index: 1;
  text-align: center;
}
.headerContacto .texto h1 {
  font-size: 70px;
  font-style: italic;
  z-index: 1000;
}
.headerContacto .texto h2 {
  font-size: 30px;
  font-weight: normal;
}

.contacto {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .formulario {
  background-color: #042F40;
  width: 90%;
  max-width: 650px;
  padding: 5px 35px 30px 35px;
  margin: 30px;
  border-radius: 10px;
  color: #14A1D9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .formulario .titulo {
  color: #14A1D9;
  padding: 14px 0;
}
.contacto .formulario .titulo span {
  color: white;
}
.contacto .formulario label {
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}
.contacto .formulario label input {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
}
.contacto .formulario textarea {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  max-height: 150px;
  min-height: 50px;
}
.contacto .formulario .boton {
  width: 100%;
  border: 1px solid black;
  background-color: #14A1D9;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.contacto .formulario .boton:hover {
  background-color: rgba(20, 161, 217, 0.555);
}