body{
    .navegador{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #042F40;
        width: 100vw;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        #check{
            display: none;
        }
        label{
            display: none;
            i{
                color: white;
                font-size: 30px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    border: solid 2px white;
                    border-radius: 5px;
                }
            }
        }
        .logo{
            img{
                height: 50px;
            }
        }
        .navbar{
            ul{
                list-style: none;
                display: flex;
                li{
                    a{
                        padding: 0 30px;
                        text-decoration: none;
                        color: white;
                        transition: background-color .3s;
                        &:hover{
                            padding: 15px 30px;
                            background-color: #155259;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 630px){
    .navegador{
        padding-left: 5px !important;
        .checkbtn{
            display: block;
        }
        #check:checked ~ .navbar{
            display: block;
        }
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #042F40;
            display: none;
            ul{
                flex-direction: column;
                li{
                    width: 100%;
                    a{
                        display: block;
                        padding: 10px !important;
                    }
                }
            }
        }
    }
}